<div calss="main posts-new">
  <div class="container">

    <h2 class="form-heading">新規ユーザ</h2>

    <%= form_with(url: "/users") do %>
    <div class="form">
      <div class="form-body">
        <div class="form-group">
        <p>ユーザー名</p>
        <input class="form-control" name="name" value="<%= @user.name %>">
        </div>
        <div class="form-group">
        <p>メールアドレス</p>
        <input class="form-control" name="email" value="<%= @user.email %>">
        </div>
        <div class="form-group">
        <p>パスワード</p>
        <input class="form-control" type="password" name="password" value="<%= @user.password %>">
        </div>

        <% if @current_user && @current_user.admin %>
        <div class="form-group">
        <p>管理者権限</p>
        <select name="admin">
          <option value="false">ユーザ</option>
          <option value="true">管理者</option>
        </select>
        </div>
        <% end %>
        <button type="submit" class="btn btn-info">新規登録</button>
      </div>
    </div>
    <% end %>

  </div>
</div>
