<div calss="main posts-index">
  <div class="container">

    <% @posts.each do |post| %>
    <div class="posts-index-item">
      <div class="post-left">
      </div>
      <div class="post-right">
        <%= link_to post.title, post %>
        <div class="post-footer">
          <%= post.updated_at %>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
